{% extends 'layouts/form.html' %}
{% block title %}Request New Account{% endblock %}
{% block content %}


  <form method="post" class="form" action="/request">
      {{ form.csrf_token }}
    <h3 class="form-heading text-center">Request New Account</h3>
    <p class="text-center">You will be requesting a new account to be open on UPRM's HTCondor Cluster</p>
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    {{ form.lastname(class_ = 'form-control', placeholder = form.lastname.label.text, required = true) }}
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    {{ form.department(class_ = 'form-control', placeholder = form.department.label.text, required = true) }}
    {{ form.description(class_ = 'form-control  last-input', placeholder = form.description.label.text, required = false) }}
      <br>
    <input type="submit" value="Request Account" class="btn btn-primary btn-lg btn-block" >

  </form>
{% endblock %}
